body {
  background-color: #8f6749;
  background: url("pictures/the_mineshaft.jpg") no-repeat cover;
}

canvas {
  border: 1px solid black;
}

.banner {
  display: block;
  width: 50vw;
  margin: auto;
}

#nav {
  font-size: xx-large;
  margin: auto;
}

a {
  padding: 0.5vw 1vw;
  color: white;
  text-decoration: none;
}

.unselected {
  background-color: #333;
}

.selected {
  background-color: gray;
}

#main {
  margin: auto 10vw;
  background-color: gray;
}

.contact {
  margin-left: 20em;
}

iframe {
  width: 77vw;
  height: 44vw;
}