<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js"></script>
    <title>The Mineshaft</title>
  </head>
  <body>
    <div id="main">
      <img class="banner" src="/images/the_mineshaft.jpg" alt="A first person view of a mineshaft from minecraft">
      <nav>
        <table id="nav">
          <tr>
            <td><a class="unselected" title="Main page" href="/">home</a></td>
            <td><a class="unselected" title="Mostly programs" href="/projects">projects</a></td>
            <td><a class="unselected" title="Videos" href="/videos">videos</a></td>
            <td><a class="unselected" title="Blog posts" href="/articles">articles</a></td>
            <td><a class="unselected" title="Socials" href="/contact">contact</a></td>
          </tr>
        </table>
      </nav>
      {{ .Content }}
    </div>
  </body>
</html>
